*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(0,75,88);
    color: rgb(108,218,233);
}

header{
    background-color: rgb(0,75,88);
    color: rgb(108,218,233);
    text-align:center;
    padding:20px;
}

nav{
    background-color: rgb(0,75,88);
    text-align:center;
    padding:20px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}
nav li{
    display:inline;
}

nav a{
    color: rgb(108,218,233);
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    text-decoration:underline;
    color:white;
}

div{
    display:flex;
    min-height: calc(100vh - 180px);
}

aside{
    background-color: rgb(0,75,88);
    width:20%;
    padding:20px;
}

h1{
    font-size:26px;
}

ul{
    list-style:none; /* remove os pontinhos das listas */
}